*{
    margin:0;
    padding: 0;
    /* border: 1px solid red; */
}

html{
    color: white;
    background-color: black;
}



#encabezado{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: rgb(66, 66, 66);
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    margin-bottom: 50px;
}

#cuerpo{
    padding: 0px 30px;
}

.botones{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.boton{
    width: 250px;
    margin: 40px 30px;
}

.enlace{
    align-items: center;
    text-decoration: none;
    color: white;
    
}

.imagen{
    width: 250px;
    border-radius: 5%;
}

/* .enlace:hover .imagen{
    border: .005px dotted white;
} */

.enlace:hover p{
    color: lightskyblue;
}

p{
    text-align: center;
}

