*{
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap');

body{
    color: white;
    margin: 40px 120px;
    font-family: 'Balsamiq Sans', cursive;
}

#titulo{
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 35px;
}

#contenido{
    background-image: linear-gradient(to right, red,green);
    display: flex;
    flex-direction: row;
}

#estaciones{
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: center;
}

.estacion{
    margin: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
    text-align: center;
}

#imagenes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.imagen{
  
    margin: 5px;
}

#pie_de_pagina{
    background-color: black;
    text-align: center;
}

#copyright{
    width: 40px;
    filter: invert(100%);
    padding-top: 7px;
    padding-bottom: 5px;
    border: none;
}

