body {
    margin-block-start: 0;
    margin-left: 0;
    margin-right: 0;
    font-family: sans-serif;
    height: 100%;
    background: linear-gradient(to top, rgb(0, 0, 0), rgb(255,255,255));
}

div { 
    padding: 15px;
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 20px;
    color:#E0F0E0;
    background-color: #000000;
    text-align: center;
}
ul{
    padding-left: 70px;
    color:#E0F0E0;
}

p{
    padding-left: 30px;
    font-weight: bold;
    font-size: 16;
    color:#E0F0E0;
}

strong {  
    color:#FF8901;
}

html{
    height: 100%;
}
